.time-schedule-area {
  width: 100%;
  height: 100%;
  background: #fff;
}
.time-schedule-header {
  width: 100%;
  height: 200px;
  background: #000;
  color: #fff;
  font-size: 98px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 0 40px;
}
table {
  padding: 0 40px;
  font-size: 76px;
}
.tables-area {
  display: flex;
  height: 100%;
}
.time-schedule-table-area {
  height: 100%;
  with: 100%;
  display: flex;
}
.vertical-line {
  width: 160px;
  height: 100%;
}
.yokohama {
  background: #36AAFF;
}
.yamashita {
  background: #6cbb5a;
}
.red-brick {
  background: #AC1D35;
}
.time-schedule-table {
  width: 1760px;
}
.time-schedule-table > .header {
  display: flex;
  align-items: center;
  height: 160px;
  font-size: 64px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2rem;
}
.yokohama-line {
  border-bottom: 8px solid #36AAFF;
}
.yamashita-line {
  border-bottom: 8px solid #6cbb5a;
}
.red-brick-line {
  border-bottom: 8px solid #AC1D35;
}
.time-schedule-table > .data {
  display: flex;
  align-items: center;
  height: 140px;
  font-size: 64px;
  color: #000;
  font-weight: bold;
  letter-spacing: 1rem;
  margin: 2.5rem 0;
}

.time-schedule-table > .header > div:first-child,
.time-schedule-table > .data > div:first-child {
  width: 560px;
  text-align: center;
}
.time-schedule-table > .header > div:nth-child(2),
.time-schedule-table > .data > div:nth-child(2) {
  width: 600px;
  text-align: center;
}
.time-schedule-table > .header > div:last-child,
.time-schedule-table > .data > div:last-child {
  width: 600px;
  text-align: center;
}
.blue-font {
  color: #0000cd;
}
.red-font {
  color: #cc0000;
}